<br/><br/>
<div class="container" align="center">
    <form method="GET" action="signup/add">
        <div class="field" align="center">
            <div class="input-group-append" align="center">
                <span class="input-group-text"><i class="fas fa-user"></i></span>
            </div>
            <input type="text" placeholder="Enter Username" id="t1" class="form-control input_user" />
        </div>
        <br />
        <div class="field">
            <div class="input-group-append">
                <span class="input-group-text"><i class="fas fa-envelope"></i></span>
            </div>
            <input type="text" placeholder="Enter Email ID" id="t2" class="form-control input_user" />
        </div>
        <br />
        <div class="field">
            <div class="input-group-append">
                <span class="input-group-text"><i class="fas fa-key"></i></span>
            </div>
            <input onkeyup="trigger()" type="password" id="t3" class="pwd" placeholder="Type password">
        </div>
        <div class="field">
                     
             <div class="input-group-append">
                
                <span class="input-group-text"><i class="fas fa-key"></i></span>
            </div><br/>  
            <input type="password" placeholder="Confirm Password" id="t4" class="form-control input_user" />
        </div>
        <br />
        <div class="field">
            <div class="input-group-append">
                <span class="input-group-text"><i class="fas fa-phone"></i></span>
            </div>
            <input type="text" placeholder="XXX-XXX-XXXX" id="t5" class="form-control input_user" />
        </div>
        <br />
        <div align="center">
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="customControlInline">
                <label class="custom-control-label" for="customControlInline">Agree Terms and Conditions?</label>
            </div>
        </div>
        <br />
        <div align="center">
            <button type="button" name="button" class="btn btn-primary" style="width:150px;height:40px" onclick="registration()">Signup</button> &nbsp;&nbsp;
            <button type="button" name="button" class="btn btn-danger" style="width:150px;height:40px" onclick="clearFunc()">Clear</button>
        </div>
        <br />
        <div align="center">
            Already have an account? <a href="/login" class="ml-2">Sign In</a>
        </div>
    </form>
</div>